<div class="settings-view">
  <div class="input-container">
    <div>
      <h4>Bitballoon Settings</h4>
      <h6>You must insert the following information before deploying to Bitballoon</h6>
      <p>
        This information can be obtained from your Webmaster
      </p>
    </div>
    <form class="" action="/bitballoon-settings" method="post">
      <div class="input-box">
        <label for="site_id">Site ID: </label>
        <input type="text" name="site_id" value="{{config.site_id}}" class="">
      </div>
      <div class="input-box">
        <label for="client_id">Client ID: </label>
        <input type="text" name="client_id" value="{{config.client_id}}" class="">
      </div>
      <div class="input-box">
        <label for="client_secret">Client Secret: </label>
        <input type="text" name="client_secret" value="{{config.client_secret}}" class="">
      </div>
      <div class="form-buttons">
        <button type="submit" class="button">Save</button>
      </div>
    </form>
  </div>
</div>
