<div class="editor-view">
  <h4>Create New {{type}}</h4>
  <div class="input-container">
    <form class="" action="/create/{{type}}" method="post">
      <div class="input-box">
        <label for="title">Page Title: </label>
        <input type="text" name="title" class="" required>
      </div>
      <div class="input-box">
        <label for="view">Template: </label>
        <select class="" name="view" >
          {% for view in views %}
          <option value="{{view.fileName}}">{{view.title}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="textarea-box">
        <label for="body">Content: </label>
        <textarea name="body" rows="20" cols="60">{{ file.content }}</textarea>
      </div>
      <div class="form-buttons">
        <button type="submit" class="button">Save</button>
      </div>
    </form>
    <div class="divider">
      <br />
    </div>
    <div class="image-editor-container">
      <p class="save-first">
        Before Adding Images you must save the new page.
      </p>
    </div>
  </div>
</div>
