<div class="editor-view">
  <div class="header">
    <h4>Editing - {{ file }}</h4>
    <button type="button" name="button">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <a href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf" target="_blank">

        Markdown CheatSheet
      </a>
    </button>
  </div>
  <div class="input-container">
    <form class="" action="/edit/{{ type }}/{{ file }}" method="post">

      <input type="text" name="path" value="{{path}}" class="hidden">
      {% if imagesJSON %}
      <input type="text" name="images" value='{{imagesJSON}}' class="hidden">
      {% endif %}
      <div class="input-box">
        <label for="title">Page Title: </label>
        <input type="text" name="title" value="{{title}}" class="">
      </div>
      <div class="input-box">
        <label for="title">Page Description: </label>
        <input type="text" name="description" value="{{description}}" class="">
      </div>
      <div class="input-box">
        <label for="title">Page Keywords: </label>
        <input type="text" name="keywords" value="{{keywords}}" class="">
      </div>
      {% if type == "posts" %}
      <div class="input-box">
        <label for="date">Publish Date: </label>
        <input type="date" name="date" value="{{date}}" class="">
      </div>
      {% endif %}
      {% if type == "pages" %}
      <div class="input-box">
        <label for="order">Navigation Order: </label>
        <select class="" name="order">
          {% for key, page in nav.pages %}
          <option value="{{key + 1}}" {% if key + 1 == order %}selected{%endif%}>{{key + 1}}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}
      <div class="input-box">
        <label for="view">Template: </label>
        <select class="" name="view">
          {% for template in views %}
          {% if view == template.fileName %}
          {% set selected = 'selected' %}
          {% else %}
          {% set selected = '' %}
          {% endif %}
          <option class="templateName" value="{{template.fileName}}" {{selected}}>{{template.title}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-box">
        <label for="view">Banner Image: </label>
        <select class="" name="banner">
          {% for image in images %}
          <option class="imageName" value="{{image.path}}">{{image.alt}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="textarea-box">
        <label for="body">Content: </label>
        <textarea id="textarea-content" name="body" rows="20" cols="60">{{ content }}</textarea>
      </div>
      <div class="hidden">
        <input type="button" name="name" value="">
      </div>
      <div class="form-buttons">
        <button id="delete-button" type="button" name="delete">Delete Page</button>
        <button type="submit" class="button">Save</button>
      </div>
    </form>
    <div class="divider">
      <br />
    </div>
    <div class="image-editor-container">
      <div class="input-box image">
        <label for="images">Images: </label>
        {% if images %}
        {% for image in images %}
        <div class="image-info" >
          <i data-path="{{image.path}}" data-alt="{{image.alt}}" title="Add Image to Content" class="add-image fa fa-plus"></i>
          <p>
            Path - {{image.path}}
            <br />
            Alt Text - {{image.alt}}
          </p>
          <button class="image-delete" data-image="{{image.path}}">Delete</button>
        </div>
        {% endfor %}
        {% else %}
        <p>
          No Images Uploaded Yet..
        </p>
        {% endif %}
      </div>
      <form action="/edit/{{ type }}/{{ file }}/image" type="image" enctype="multipart/form-data" method="POST" >
        <div class="input-box image">
          <label for="image">Upload Image: </label>
          <input id="file-selector" type="file" name="image" value="" required >
        </div>
        <div class="input-box image">
          <label for="altText">Image Alt Text: </label>
          <input id="file-selector" type="text" name="altText" value="" required>
        </div>
        <div class="form-buttons">
          <button type="submit" class="button">Upload</button>
        </div>
      </form>
    </div>

    <script type="text/javascript">

    /* Test Form Upload */

    /* End Upload Test */


      const imagesArray = document.getElementsByClassName('add-image');
      const textareaContent = document.getElementById('textarea-content');
      const outerContainer = document.querySelector('.outer-container');
      const deleteButton = document.getElementById('delete-button');
      const confirmModal = document.createElement('div');
      confirmModal.className = "confirm-modal";
      confirmModal.innerHTML = "<div><h4>Are you sure you want to delete?</h4></div><div class='buttons'><button id='confirm-delete'>Yes</button><button id='cancel-delete'>No</button></div>";

      const deletePage = (e) => {
        e.preventDefault();
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.status === 200 && xhr.readyState == 4) {
            console.log('success - File Deleted');
            window.location.pathname = '/';
          }
        }
        xhr.open('DELETE', '/edit/{{ type }}/{{ file }}');
        xhr.send();
      };

      const cancelDelete = () => {
        outerContainer.removeChild(confirmModal);
        console.log('Delete cancelled');
      };

      deleteButton.addEventListener('click', (e) => {
        outerContainer.appendChild(confirmModal);
        const confirm = document.getElementById('confirm-delete');
        const cancel = document.getElementById('cancel-delete');
        confirm.addEventListener('click', deletePage);
        cancel.addEventListener('click', cancelDelete);

      });

      // Delete Image Button Event Listeners
      const buttons = document.getElementsByClassName('image-delete');
      const deleteEventListener = (e) => {
        e.preventDefault();
        let imagePath = e.target.dataset.image;
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4 && xhr.status === 200) {
            console.log('success');
            window.location.pathname = "/edit/{{ type }}/{{ file }}";
          }
        }
        xhr.open('DELETE', `/edit/{{ type }}/{{ file }}/image/`);
        // Attach image path to header before sending
        xhr.setRequestHeader('image-path', imagePath);
        xhr.send();

      }
      for (let i = 0; i < buttons.length; i += 1) {
        buttons[i].addEventListener('click', deleteEventListener);
      }

      // Add Event Listeners to Image Paths
      for (let i = 0; i < imagesArray.length; i += 1) {
        imagesArray[i].addEventListener('click', function (e) {
          e.preventDefault();
          const markdownImage = `\r\n![${e.target.dataset.alt}](${e.target.dataset.path})\r\n`;
          textareaContent.value += markdownImage;
        });
      }

    </script>
  </div>
</div>
