<style media="screen">
  .hidden {
    visibility: hidden;
  }
</style>
<h2>Control Metalsmith</h2>
<div class="controls metalsmith-cards">
  <div class="build card">
    <header>
      <h4>Build Script</h4>
    </header>
    <div class="body">
      <div class="info">
        <p>
          Click the 'Build' button below to run the build script which will generate all the files required for the site.
        </p>
      </div>
      <button id="build-button">Build Site</button>
    </div>
  </div>
  <div class="server card">
    <header>
      <h4>Server Controls</h4>
    </header>
    <div class="body server-control">
      <div class="info">
        <p>
          Click on the start button below to start the development server. Test your site.
        </p>
        <p>
          Press the 'Stop' button to stop the server.
        </p>
      </div>
      <button id="start-server-button" class="">Start Server</button>
      <button id="stop-server-button" class="hidden">Stop Server</button>
    </div>
  </div>
  <div class="deploy card">
    <header>
      <h4>Deploy Site</h4>
    </header>
    <div class="body">
      <div class="info">
        <p>
          When you are happy with your site, press the 'Deploy' button below. This will send the built site to the server and it will be live within seconds.
        </p>
      </div>
      <button id="deploy-button">Deploy Site</button>
    </div>
  </div>
</div>
{% if message %}
<div>
  <p>
    {{message}}
  </p>
</div>
{% endif %}
<div class="response">
  <p class="response-text"></p>
</div>
<script type="text/javascript">
  const response = document.querySelector('.response-text');
  const build = document.getElementById('build-button');
  const deploy = document.getElementById('deploy-button');
  const start = document.getElementById('start-server-button');
  const stop = document.getElementById('stop-server-button');
  build.addEventListener('click', function (e) {
    e.preventDefault();
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
      console.log('ready state changed');
      if (xhr.readyState === 4 && xhr.status === 200) {
        console.log('Build Complete');
        response.textContent = "Build Complete";
      }
    };
    xhr.open('POST', '/api/build', true);
    xhr.send();
  });

  // Toggle visibility of the Server Start Stop Buttons
  function toggleButtons () {
    start.classList.toggle("hidden");
    stop.classList.toggle("hidden");
  }

  // Dev Server Controls
  start.addEventListener('click', (e) => {
    e.preventDefault();
    toggleButtons();
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
      console.log('ready state changed', xhr.readyState);
      if (xhr.readyState === 1) {
        console.log('Server Running');
        response.textContent = "Server Running";
      }
      if (xhr.readyState === 4 && xhr.status === 200) {
        console.log('Server Stopping');
        response.textContent = "Server Stopped";
      }
    };
    xhr.open('POST', '/api/serve/start', true);
    xhr.send();
  });

  stop.addEventListener('click', stopServerEvent);
  function stopServerEvent (e) {
    e.preventDefault();
    toggleButtons();
    console.log('Sending Stop Signal');
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
      console.log('ready state changed');
      if (xhr.readyState === 4 && xhr.status === 200) {
        console.log('Server Stopping');
        response.textContent = "Server Stopped";
      }
    };
    xhr.open('POST', '/api/serve/stop', true);
    xhr.send();
  }


  // Deploy Site to Bitballoon
  deploy.addEventListener('click', (e) => {
    e.preventDefault();

    // Animate Deploy Button While Site Uploading
    let dots = "";
    let animateText = () => {
        if (dots.length > 5) {
          dots = "";
        }
        deploy.textContent = `Deploying Site${dots}`;
        dots += '.';
    };
    let animatedTextInterval = setInterval(animateText, 500);

    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = () => {
      if (xhr.status === 200 && xhr.readyState === 4) {
        clearInterval(animatedTextInterval);
        let serverResponse = JSON.parse(xhr.response);
        deploy.textContent = "Site Deployed";
        response.textContent = serverResponse.message;
        if (serverResponse.bitballoonSettings) {
          return window.location.pathname = '/bitballoon-settings';
        }
        if (serverResponse.code === 404) {
          let errorElement = document.createElement('h4');
          errorElement.textContent = "Please check the Bitballoon SiteID";
          response.parentNode.appendChild(errorElement);
        }
        if (serverResponse.url) {
          let anchor = document.createElement('a');
          anchor.href = serverResponse.url;
          anchor.target = "_blank";
          anchor.textContent = 'View the site at - ' + serverResponse.url;
          response.parentNode.appendChild(anchor);
        }
        response.parentNode.classList.add('open');
        setTimeout(() => {
          deploy.textContent = "Deploy Site";
        }, 3000);
      }
    };

    xhr.open('POST', '/api/deploy');
    xhr.send();


  })

</script>
