<div class="settings-view">
  <div class="input-container">
    <div>
      <h4>Site Settings</h4>
    </div>
    <form class="" action="/settings/site" method="post" enctype="multipart/form-data">
      <div class="input-box">
        <label for="siteName">Site Title: </label>
        <input type="text" name="siteName" value="{{config.siteName}}" class="">
      </div>
      <div class="input-box">
        <label for="title">Site Description: </label>
        <input type="text" name="description" value="{{config.description}}" class="">
      </div>
      <div class="input-box">
        <label for="title">Author: </label>
        <input type="text" name="name" value="{{config.author.name}}" class="">
      </div>
      <div class="textarea-box">
        <label for="title">Author Bio: </label>
        <textarea rows="10" cols="30" name="bio" >{{config.author.bio}}</textarea>
      </div>
      <div class="input-box">
        <label for="title">Author Image: </label>
        <input type="file" name="image" value="{{config.author.image}}" class="">
      </div>
      <div class="form-buttons">
        <button type="submit" class="button">Save</button>
      </div>
    </form>
  </div>
  <!-- <div class="input-container">
    <div>
      <h4>Server Settings</h4>
    </div>
    <form class="" action="/settings/server" method="post">
      <div class="input-box">
        <label for="siteName">Site Title: </label>
        <input type="text" name="siteName" value="{{config.siteName}}" class="">
      </div>
      <div class="input-box">
        <label for="title">Site Description: </label>
        <input type="text" name="description" value="{{config.description}}" class="">
      </div>
      <div class="input-box">
        <label for="title">Default Author: </label>
        <input type="text" name="author" value="{{config.author}}" class="">
      </div>
      <div class="form-buttons">
        <button type="submit" class="button">Save</button>
      </div>
    </form>
  </div> -->
</div>
