<div class="side-nav">
  <h4>
    Side Navigation
  </h4>
  <div class="navigation">
    <nav>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/metalsmith">Metalsmith</a></li>
      </ul>
      <ul>
        <h6>Pages</h6>
        {% for page in nav.pages %}
        <li><a href="/edit/pages/{{page.file}}">{{page.title}}</a></li>
        {% endfor %}
      </ul>
      <ul>
        <h6>Posts</h6>
        {% for post in nav.posts %}
        <li><a href="/edit/posts/{{post.file}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
      <ul>
        <h6>Create</h6>
        <li><a href="/create/pages">New Page</a></li>
        <li><a href="/create/posts">New Post</a></li>
      </ul>

      <div class="settings">
        <a href="/settings"><span><i class="fa fa-cogs" aria-hidden="true"></i> Settings</span></a>
      </div>
      <div class="settings">
        <a href="/bitballoon-settings"><span><i class="fa fa-tasks" aria-hidden="true"></i> Bitballoon Settings</span></a>
      </div>
    </nav>
  </div>
</div>
