{% extends '../layout.html' %}

{% block content %}
<div class="content">
  <div class="content-container single-column">
    {{ contents }}
    <div class="blog-container">
      {% for post in metadata.collections.posts %}
      <div class="post-card flex">
        <header>
          <h4>{{ post.title }}</h4>
          <p class="sub-text">Published On: {{ post.date|date("d/m/Y") }}</p>
        </header>
        <section>
          {% if post.banner %}
          <img src="{{post.banner}}" alt="{{ posts.title }}" />
          {% endif %}
          <p>
            {{ post.snippet }}
          </p>
          <a href="/{{post.path}}" class="button">View Post</a>
        </section>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
