{% extends '../layout.html' %}

{% block content %}
<div class="content">
  <div class="content-container">
    {{ contents }}
    <div class="images">
      {% if images %}
      {% for image in images %}
      <div class="img-container">
        <img src="{{image.path}}" alt="{{image.alt}}" style="width:100%" />
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="sidebar">
    {% include '../partials/blogs.html' %}
  </div>
</div>
{% endblock %}
