{% extends '../layout.html' %}

{% block content %}
<div class="content">
  <div class="content-container">
    <h6 class="published">Published on: {{ date|date("D d M Y") }}</h6>
    {{ contents }}
  </div>
  <div class="sidebar">
      <h6>About Me</h6>
      {% if metadata.author.image %}
      <div class="profile" style="background-image: url({{metadata.author.image}}); background-repeat: no-repeat; background-position: center center; background-size: cover;">
        <p>{{ metadata.author.name }}</p>
      </div>
      {% else %}
      <div class="profile" style="background-image: url(/images/user/default.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;">
        <p>{{ metadata.author.name }}</p>
      </div>
      {%endif %}
      <p>{{ metadata.author.bio }}</p>
  </div>
</div>
{% endblock %}
