{% extends '../layout.html' %}

{% block content %}
<div class="content two-column">
  <div class="left">
    {{ contents }}
  </div>
  <div class="right">
    <h4>Right Column</h4>
  </div>
  <div class="sidebar two-column">
    {% include '../partials/blogs.html' %}
  </div>
</div>

{% endblock %}
