<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Metalsmith GUI</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Patua+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" >
  </head>
  <body>
    <header>
      <div class="logo-container">
        <img class="logo" src="/images/logo.svg" alt="Metalsmith GUI Logo" />
      </div>
      <div class="header-title">
        <h1>Metalsmith GUI</h1>
        <h4>A GUI for Metalsmith Static Sites</h4>
      </div>
    </header>

    <div class="outer-container">
      {% block content %}

      {% endblock %}
    </div>
    <script>
      const hamburger = document.querySelector('.hamburger');
      const sideNav = document.querySelector('.side-nav');

      hamburger.addEventListener('click', (e) => {
        e.preventDefault();
        sideNav.classList.toggle('open');
      })
    </script>
  </body>
</html>
