{% extends 'base.twig' %}

{% block content %}
{% include 'partials/side-nav.html'%}
<div class="main-container">
  {% include 'partials/hamburger.html' %}
  <div class="header">
    <h1><i class="fa fa-tachometer" aria-hidden="true"></i> - Dashboard</h1>
  </div>

  <div class="data-cards">
    <div class="card">
      <header>
        <h4>Pages</h4>
      </header>
      <div class="circle">
        <span class="count-number">{{nav.pages.length}}</span>
      </div>
      {% for page in nav.pages %}
      {{ page.title }}
      {% endfor %}
    </div>
    <div class="card">
      <header>
        <h4>Posts</h4>
      </header>
      <div class="circle">
        <span class="count-number">{{nav.posts.length}}</span>
      </div>

      {% for post in nav.posts %}
      {{ post.title }}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
