{% extends 'base.twig' %}

{% block content %}
{% include 'partials/side-nav.html'%}
<div class="main-container">
  {% include 'partials/hamburger.html' %}
  {% if siteSettings %}
  <h1><i class="fa fa-cogs" aria-hidden="true"></i> - Site Settings</h1>
  {% include 'partials/settings-view.html' %}
  {% endif %}
  {% if bitballoonSettings %}
  {% include 'partials/bitballoon-settings.html' %}
  {% endif %}
  {% if editing %}
  <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i> - Editor Page</h1>
  {% include 'partials/editor-view.html' %}
  {% endif %}
  {% if create %}
  {% if type == 'pages' %}
  {% set createType = 'Page' %}
  {% else %}
  {% set createType = 'Post' %}
  {% endif %}
  <h1><i class="fa fa-plus" aria-hidden="true"></i> - Create {{createType}}</h1>
  {% include 'partials/create-view.html' %}
  {% endif %}
</div>
{% endblock %}
