{% extends 'base.twig' %}

{% block content %}
{% include 'partials/side-nav.html'%}
<div class="main-container">
  {% include 'partials/hamburger.html' %}
  <h1><i class="fa fa-server" aria-hidden="true"></i> - Metalsmith Page</h1>
  {% include 'partials/metalsmith-controls.html' %}
</div>
{% endblock %}
