$background-color: #000;
$header-color: #4e6395;
$border-color: #00224f;
$light-blue: #8e95b7;

html {
  min-height: 100%;
}
body {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  line-height: 1.6em;
  margin: 0;
  min-height: 100%;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', cursive;
    font-weight: lighter;
  }
  a {
    text-decoration: none;
  }
  button {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid $border-color;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $light-blue;
      color: #fff;
    }
  }
  header {
    background-color: $header-color;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
    .logo-container {
      flex: 0 0 140px;
      img.logo {
        width:60%;
        margin: 10% 20%;
      }
    }
    .header-title {
      flex: 1 1 612px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      @media (min-width: 768px) {
        align-items: flex-start;
      }
      h1, h4 {
        margin: 5px 10px;
      }
      h4 {
        text-transform: uppercase;
      }
    }
  }
  .outer-container {
    display: flex;
    overflow: hidden;
    .confirm-modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(127, 255, 212, 0.85);
      .buttons {
        display: flex;
        justify-content: space-between;
        width:150px;
        button {
          &:hover {
            background-color: #142fb1;
          }
        }
      }
    }
    .side-nav {
      display: none;
      flex: 0 0 220px;
      background-color: $light-blue;
      padding:0 20px;
      min-height: 100vh;
      @media (min-width: 768px) {
        display: block;
        flex: 0 0 300px;
      }
      &.open {
        display:block;
      }
      h4 {
        color: #fff;
        text-align: center;
      }
      .navigation {
        ul {
          margin-top: 20px;
          padding: 0 0 30px 0;
          list-style: none;
          border-bottom: 1px solid #dfdddd;
          h6 {
            color: #520e0e;
            font-size: medium;
            margin: 10px 0;
          }
          a {
            color: #fff;
            transition: color 0.3s; 
            &:hover {
              color: #1b1c67;
            }
          }
        }
        .settings {
          a {
            color: #fff;
          }
        }
      }
    }
    .main-container {
      flex: 1 1 300px;
      padding: 0 20px;
      position: relative;
      .hamburger {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: 10px;
        left: 10px;
        width: 30px;
        padding: 5px;
        height: 30px;
        border: 1px solid #000;
        .bar {
          border-bottom: 1px solid #000;
          display: block;
          width: 30px;
          align-self: center;
          height: 1px;
        }
        @media (min-width: 768px){
          display: none;
        }
      }
      h1 {
        text-align: center;
      }
      .hidden {
        display: none;
      }
      /** Dashboard & Metalsmith Styles **/
      .data-cards, .metalsmith-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card {
          flex: 0 1 300px;
          border: 1px solid #dadada;
          margin: 10px;
          padding: 10px;
          header {
            text-align: center;
            display: flex;
            align-items: center;
            h4 {
              width:100%;
              margin: 10px;
            }
          }
          .circle {
            text-align: center;
            margin: 50px 0;
            .count-number {
              background-color: #0b1832;
              color: #fff;
              border: 5px solid #5b3e18;
              border-radius: 50%;
              margin: 10px;
              padding: 30px 50px;
              display: inline-block;
              font-size: 4em;
            }
          }
        }
      }
      .editor-view {
        .header {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 30px;
          h4 {
            margin: 0;
          }
          button {
            padding: 5px;
          }
        }
      }
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .textarea-box {
          display: block;
          width:100%;
          textarea {
            display: block;
            border: none;
            width: 100%;
            padding: 20px 0;
            &:focus {
              outline: none;
            }
          }
        }
        .form-buttons {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width:100%;
        }
      }
      .settings-view {
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .input-container {
          display: flex;
          flex-direction: column;
          flex: 0 1 400px;
        }
        form {
          display: flex;
          justify-content: center;
          .input-box, .form-buttons {
            flex: 0 1 500px;
          }
        }

      }
      .controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .build, .server, .deploy {
          flex: 1 1 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .body {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .info {
              padding: 20px 0;
            }
          }
        }
      }
      .response {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        &.open {
          min-height: 100px;
          border: 5px solid #d5f7e4;
          background-color: #dcfff7;
        }
        a {
          margin: 1em 0 1em 0;
        }
      }
    }
  }
  .image-editor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .input-box.image, form {
      flex: 0 1 400px;
    }
    .image-info {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #dadada;
      padding-left: 30px;
      margin-top: 10px;
      i.add-image {
        position: absolute;
        left: 0px;
        top: 25px;
        padding: 5px 6px;
        background-color: #0e2d44;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
      }
      p {
        font-size: 0.8em;
        flex: 1 1 250px;
      }
      button.image-delete {
        flex: 0 1 50px;
        align-self: center;
      }
    }
  }
  .input-box, .textarea-box {
    display: inline-block;
    position: relative;
    border: 1px solid #dadada;
    box-sizing: border-box;
    width: 250px;
    padding: 10px;
    margin: 5px 0;
    &.image {
      flex: 0 1 350px;
    }
    label {
      position: absolute;
      top: -10px;
      background-color: #fff;
      color: #520e18;
    }
    input {
      border: none;
      width: 100%;
      line-height: 2.4em;
      font-size: 1.2em;
      box-sizing: border-box;
      border-bottom: 1px solid blue;
      &:focus {
        outline: none;
      }
    }
    select {
      background-color: #fff;
      font-size: 1.2em;
      line-height: 3em;
      padding: 12px 0;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid blue;
      width: 100%;
      text-transform: capitalize;
      &:focus {
        outline: none;
      }
      .templateName {
        text-transform: capitalize;
        /* color: blue; */
      }
    }
  }
}
