{% if description %}
{% set pageDescription = description %}
{% else %}
{% set pageDescription = metadata.description %}
{% endif %}
{% if banner %}
{% set bannerBackground = banner %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>{{title}} | {{metadata.siteName}}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100|Alegreya+Sans|Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" >
    {% include 'partials/open-graph.html' %}
    {# set up an opengraph partial #}
  </head>
  <body>
    <div class="overlay">
      <img src="/images/rolling.svg" alt="Page is Loading..." />
    </div>
    <div class="outer-wrapper">
      <header class="main" />
        <div class="brand logo">
          <img src="/images/forbes-crest.png" class="logo-img" alt="Brand Logo" />
        </div>
        {% include 'partials/nav.html' %}
        <div class="menu">
          <span class="bar first"></span>
          <span class="bar middle"></span>
          <span class="bar last"></span>
        </div>
      </header>
      <div class="main-container">
        <div class="page-banner" style="background-image:url({{bannerBackground}});
                       background-position: center center;
                       background-repeat: no-repeat;
                       background-size: cover;" >
          <h1>{{metadata.siteName}}</h1>
          {% if title %}
          <hr />
          <h2>{{title}}</h2>
          {% endif %}
        </div>
        {% block content %}

        {% endblock %}
      </div>
      {% include 'partials/footer.html' %}
    </div> <!-- End outer-wrapper -->
    <script src="/js/script.js"></script>
  </body>
</html>
