<div class="blogs">
  <h4>Posts</h4>
  <div class="blog-posts">
    <!-- Limit Posts to 3 -->
    {% for post in metadata.collections.posts  %}
    {% if loop.index < 4 %}
    <div class="post-card">
      <header>
        <h4>{{ post.title }}</h4>
        <p class="sub-text">Published On: {{ post.date|date("d/m/Y") }}</p>
      </header>
      <section>
        {% if post.banner %}
        <img src="{{post.banner}}" alt="{{ post.title }}" />
        <p class="sub-text author">Posted By: {{ metadata.author.name }}</p>
        {% endif %}
        <div class="post-snippet">
          <p>
            {{post.snippet}}
          </p>
        </div>
      </section>
      <div class="">
        <a href="/{{ post.path }}" class="button">Read more...</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
