<div class="footer">
  <footer>
    <div class="flex-container">
      <div class="col">
        <h4>Our Address</h4>
        <address class="">
          Some Address,<br />
          Some Street,<br />
          Some City,<br />
          Some POstCodes<br />
        </address>
      </div>
      <div class="col">
        <h4>Contact Details</h4>
        <div class="contact">
          <span>tel: <a href="tel:5555555555">+44 1555 555 5555</a></span><br />
          <span>fax: <a href="tel:5555555555">+44 1555 555 5556</a></span><br />
          <span>email: <a href="mailto:info@metalsmith.co">info@metalsmith.co</a></span><br />
        </div>
      </div>
      <div class="col">
        <h4>Follow Us</h4>
        <div class="social">
          <span class="social-icon"><i class="fa fa-facebook"></i> Facebook</span><br />
          <span class="social-icon"><i class="fa fa-twitter"></i> Twitter</span><br />
          <span class="social-icon"><i class="fa fa-google"> Google Plus</i></span><br />
          <span class="social-icon"><i class="fa fa-instagram"> Instagram</i></span><br />
        </div>
      </div>
    </div>
    <div class="copy" style="text-align: center;">
      <p>
        &copy; 2016
      </p>
    </div>
  </footer>
</div>
