{% if path == 'index.md' %}
{% set active ="active" %}
{% else %}
{% set active = "" %}
{% endif %}
<nav class="main-nav">
  <a href="/" class="{{active}}">Home</a>
  {% for page in metadata.collections.pages %}
  {% if path == page.path %}
  {% set active = "active" %}
  {% else %}
  {% set active = "" %}
  {% endif %}
  <a href="/{{page.path}}" class="{{active}}">{{page.title}}</a>
  {% endfor %}
</nav>
