
<meta property="og:title" content="{{title}}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{metadata.url}}/{{path}}"/> <!-- Maybe get url from Bitballoon Init -->
<meta property="og:image" content="{{metadata.url}}{{banner}}"/>
<meta property="og:site_name" content="{{metadata.siteName}}"/>
<meta property="og:description" content="{{description}}"/>
<meta name="twitter:card" content="summary_large_image" />
