$primary-color: #A1A838;
$secondary-color: #355031;
$background-color: #f1f1f1;
$content-background: #fff;
$header-color: #304E00;
$green: #38462c;
$gold: #b5a646;

$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1368px;

/** Mixins **/
  /* media queries*/
@mixin tablet {
  @media(min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media(min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin large-desktop {
  @media(min-width: #{$large-desktop-width}) {
    @content;
  }
}

body {
  background-color: $background-color;
  color: #444;
  font-family: 'Alegreya Sans', Helvetica, 'sans-serif';
  font-size: 16px;
  margin: 0;
  .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.5s, opacity 0.5s;
    z-index: 9999;
    &.hidden {
      opacity:0;
      visibility: hidden;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
  }
  h1, h2, h3, h4 {
    color: $header-color;
  }
  hr {
    width: 100px;
    margin: 0;
  }
  a {
    outline: none;
    text-decoration: none;
    color: $header-color;
  }
  .button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #1c3518;
    color: #fff;
    transition: background-color 0.3s;
    &:hover {
      background-color: #4e593c;
    }
  }
  p {
    line-height: 1.4em;
  }
  .outer-wrapper {
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
    @include tablet {
      padding: 10px 30px;
    }
    header.main {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      border-bottom: 1px solid $primary-color;
      box-sizing: border-box;
      margin-bottom: 30px;
      @include tablet {
        flex-direction: row;
      }
      nav, .brand {
        display: flex;
      }
      .brand {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        color: #232323;
        h1 {
          color: #232323;
        }
        img.logo-img {
          width: 110px;
          margin: 20px;
        }
      }
      nav {
        // border-left: 2px solid white;
        color: #232323;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        background-color: $content-background;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        z-index: 998;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        /* left: -300px; */
        transition: opacity 0.5s, visibility 0.5s, background-color 0.5s;
        &.open {
          visibility: visible;
          opacity: 1;
          background-color: $primary-color;
        }

        @include tablet {
          flex-direction: row;
          position: static;
          visibility: visible;
          opacity: 1;
          height: auto;
        }
        a {
          color: #232323;
          font-size: 0.8em;
          text-align: right;
          margin: 10px;
          padding: 10px;
          text-transform: uppercase;
          text-decoration: none;
          transition: color 0.3s;
          &:hover {
            color: $primary-color;
          }
          &.active {
            color: #fff;
            @include tablet {
              color: $primary-color;
            }
          }
        }
      }
      .menu {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 40px;
        height: 40px;
        border: 1px solid #e2e2e2;
        border-radius: 0;
        cursor: pointer;
        transition: border-radius 0.5s;
        @include tablet {
          display: none;
        };
        span.bar {
          display: block;
          height: 1px;
          width: 30px;
          margin: 9px auto;
          background-color: #000;
          transition: all 0.5s;
        }
        &.open {
          border-radius: 50%;
          span.bar {
            background-color: #fff;
            &.middle {
              display: none;
            }
            &.first {
              top: 10px;
              transform: rotate(45deg);
              position: relative;
            }
            &.last {
              transform: rotate(-45deg);
              top: 0px;
              position: relative;
            }
          }
        }
      }
    }
    .main-container {
      .page-banner {
        height: 350px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        @include tablet {
          height: 450px;
        }
        h1, h2 {
          text-shadow: 1px 1px 0 #1b1b1b;
        }
        h1 {
          margin: 0;
          font-family: 'Arima Madurai', cursive;
          font-size: 2em;
          color: #fff;
          @include tablet {
            font-size: 2.8em;
          }
        }
        h2 {
          margin: 10px 0;
          color:$primary-color;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &.two-column {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .left, .right {
            flex: 1 1 450px;
          }
        }
        .content-container {
          flex: 0 1 650px;
          &.single-column {
            flex: 1 1 650px;
          }
          p > img {
            width: 100%;
          }
          h6.published {
            font-weight: bold;
            color: #444;
          }
          .blog-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            img {
              max-width: 100%;
            }
          }
        }
        .sidebar {
          flex: 1 1 250px;
          h6 {
            font-size: 1.2em;
            margin: 30px 0;
          }
          .profile {
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            p {
              margin: 0;
              padding: 10px;
              background-color: rgba(77, 67, 37, 0.91);
              width: 100%;
              text-align: center;
              color: #fff;
            }
          }
          .blog-posts {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .post-card {
              flex: 1 1 140px;
              padding: 20px 10px;
            }
          }
          @include tablet {
            flex: 0 0 250px;
            .blog-posts {
              display: block;
              .post-card {
                flex: none;
                padding: 0 0 20px 0;
              }
            }
          }

          &.two-column {
            flex: 1 1 600px;
            .blog-posts {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              .post-card {
                flex: 0 1 300px;
              }
            }
          }
        }
      }
      .blogs {
        img {
          max-width:100%;
        }
      }
      .post-card {
        margin-bottom: 50px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #dadada;
        header {
          // background-color: $primary-color;
          background-color: #4b5a2c;
          position: relative;
          overflow: hidden;
          &::before {
            content: "";
            width: 20px;
            height: 20px;
            background-color: #7f842b;
            box-shadow: -1px 1px 2px #545454;
            position: absolute;
            top: -5px;
            right: -5px;
          }
          &::after {
            content: "";
            width: 20px;
            height: 20px;
            background-color: $content-background;
            position: absolute;
            top: -10px;
            right: -10px;
            transform: rotate(45deg);
          }
        }
        h4 {
          margin:0;
          padding: 10px 10px 5px 10px;
          color: $primary-color;
          font-weight: normal;
        }
        p.sub-text {
          color: #dadada;
          margin: 0;
          padding: 2px 10px;
          font-size: 0.6em;
          &.author {
            margin-top: -30px;
          }
        }
        &.flex {
          flex: 0 1 300px;
        }
      }
    } /* End main-container */
    .footer {
      color: #fff;
      padding: 20px;
      background-color: #4c5106;
      border-top: 1px solid #a1a838;
      margin: 20px -10px -10px -10px;
      @include tablet {
        margin: 20px -30px -10px;
      }
      h4 {
        color: $gold;
        text-transform: uppercase;
        font-size: smaller;
        font-weight: bold;
      }
      a {
        color: #a1a838;
      }
      .flex-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .col {
          margin-bottom: 30px;
          flex: 1 1 320px;
        }
      }
    }
  } /* End outer-wrapper */
} /* End Body */
